{{#partial}}{title}Hints summary for {{suite}}/{{section}}{{/partial}}

{{#partial}}{ header_content }
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>Hints summary for {{suite}}/{{section}}</span>
{{/partial}}

{{#partial}}{ content }
    <h1>Metadata processing hints found for {{suite}}/{{section}}</h1>

      {{#summaries}}
        <h3>{{maintainer}}<a name="{{maintainer_anchor}}"></a></h3>
        <ul class="overviewlisting">
        {{#packages}}
          <li>
            <span style="font-size:16px;">
            <a href="{{pkgname}}.html">{{pkgname}}</a>&nbsp;
            </span>
          {{#has_info_count}}
            <span class="label label-info">Infos: {{info_count}}</span>
          {{/has_info_count}}
          {{#has_warning_count}}
            <span class="label label-warning">Warnings: {{warning_count}}</span>
          {{/has_warning_count}}
          {{#has_error_count}}
            <span class="label label-error">Errors: {{error_count}}</span>
          {{/has_error_count}}

          </li>
        {{/packages}}
        </ul>
      {{/summaries}}
{{/partial}}

{{> base}}
