{{#partial}} %title% Hints summary for {{suite}}/{{section}}{{/partial}}

{{#partial}}
  %header_content%
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>Hints summary for {{suite}}/{{section}}</span>
{{/partial}}

{{#partial}}
  %content%
    <h1>Metadata processing hints found for {{suite}}/{{section}}</h1>

      {% for maintainer, summary in package_summaries.items() %}
        <h3>{{maintainer|e}}</h3>
        <ul class="overviewlisting">
        {% for pkgname, hints in summary.items() %}
          <li>
            <span style="font-size:16px;">
            <a href="{{pkgname}}.html">{{pkgname}}</a>&nbsp;
            </span>
          {% if hints.info_count %}
            <span class="label label-info">Infos: {{hints.info_count}}</span>
          {% endif %}
          {% if hints.warning_count %}
            <span class="label label-warning">Warnings: {{hints.warning_count}}</span>
          {% endif %}
          {% if hints.error_count %}
            <span class="label label-error">Errors: {{hints.error_count}}</span>
          {% endif %}

          </li>
        {% endfor %}
        </ul>
      {% endfor %}
{{/partial}}

{{#partial}}
  %float_right%
<small>Last updated on: {{time}}</small>
{{/partial}}

{{> base}}
