{% extends "base.html" %}

{% block title %}Hints summary for {{suite}}/{{section}}{% endblock %}

{% block header_content %}
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>Hints summary for {{suite}}/{{section}}</span>
{% endblock %}

{% block float_right %}
<small>Last updated on: {{time}}</small>
{% endblock %}

{% block content %}
<h1>Metadata processing hints found for {{suite}}/{{section}}</h1>

{% for summary in summaries %}
  <h3 id="{{summary.maintainer_anchor}}">{{summary.maintainer}} <a title="Permalink" class="permalink" href="#{{summary.maintainer_anchor}}">#</a></h3>
  <ul class="overviewlisting">
  {% for package in summary.packages %}
    <li>
      <span style="font-size:16px;">
      <a href="{{package.pkgname}}.html">{{package.pkgname}}</a>&nbsp;
      </span>
    {% if package.has_info_count %}
      <span class="label label-info">Infos: {{package.info_count}}</span>
    {% endif %}
    {% if package.has_warning_count %}
      <span class="label label-warning">Warnings: {{package.warning_count}}</span>
    {% endif %}
    {% if package.has_error_count %}
      <span class="label label-error">Errors: {{package.error_count}}</span>
    {% endif %}

    </li>
  {% endfor %}
  </ul>
{% endfor %}
{% endblock %}
