{% extends "base.html" %}
{% block title %}Components for {{suite}}/{{section}}{% endblock %}

{% block header_content %}
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>Components summary for {{suite}}/{{section}}</span>
{% endblock %}

{% block content %}
    <h1>Metadata found for {{suite}}/{{section}}</h1>

      {% for maintainer, summary in package_summaries.items() %}
        <h3>{{maintainer|e}}</h3>
        <ul class="overviewlisting">
        {% for pkgname, info in summary.items() %}
          <li>
            <span style="font-size:16px;">
            <a href="{{pkgname}}.html">{{pkgname}}</a>&nbsp;
            </span>

            <ul>
            {% for cid in info.cids %}
              <li>{{cid}}</li>
            {% endfor %}
            </ul>

          </li>
        {% endfor %}
        </ul>
      {% endfor %}

{% endblock %}

{% block float_right %}
<small>Last updated on: {{time}}</small>
{% endblock %}
