{{#partial}}{title}Data for {{suite}}/{{section}}{{/partial}}

{{#partial}}{ head_extra }
<link type="text/css" rel="stylesheet" href="{{root_url}}/static/css/rickshaw.min.css">
<script src="{{root_url}}/static/js/d3/d3.min.js"></script>
<script src="{{root_url}}/static/js/d3.layout.js"></script>
<script src="{{root_url}}/static/js/rickshaw/rickshaw.min.js"></script>

<style>
#chart_container {
        position: relative;
        font-family: Noto, Arial, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 0;
	bottom: 26px;
	width: 0;
}
</style>
{{/partial}}

{{#partial}}{ header_content }
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>AppStream data for {{project_name}}/{{section}}</span>
{{/partial}}

{{#partial}}{ content }
    <h1>Overview for {{section}}</h1>

    <h2>Data</h2>

    <h3><a href="issues/index.html">Issues</a> - Issues found while extracting the data</h3>

    <h3><a href="metainfo/index.html">Metainfo</a> - Per-package view of the generated data</h3>


    <h2>Health</h2>
    <div class="wrapper">

      <h3>Issue overview</h3>
      <div style="width: 80%;">

        <div class="progress" style="margin-left: 20px;">
          <div style="width: {{valid_percentage}}%" class="progress-bar progress-bar-green">
            <span class="sr-only">{{valid_percentage}}% Valid</span>
          </div>
          <div style="width: {{info_percentage}}%" class="progress-bar progress-bar-blue">
            <span class="sr-only">{{info_percentage}}% Infos</span>
          </div>
          <div style="width: {{warning_percentage}}%" class="progress-bar progress-bar-yellow">
            <span class="sr-only">{{warning_percentage}}% Warnings</span>
          </div>
          <div style="width: {{error_percentage}}%" class="progress-bar progress-bar-red">
            <span class="sr-only">{{error_percentage}}% Errors</span>
          </div>
        </div>

        <div class="fit" style="margin: 4px;" id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
          <div id="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="legend"></div>
          </div>
          <div id="slider"></div>
        </div>

      </div>

      <ul>
        <li>{{metainfo_count}} valid components</li>
        <li>{{error_count}} errors</li>
        <li>{{warning_count}} warnings</li>
        <li>{{info_count}} infos/hints</li>
      </ul>

      <h3>Global data validation result</h3>
      <div class="well">
        {{validate_result}}
      </div>
    </div>

    <script>
      d3.json("{{root_url}}/statistics.json", function(data, error) {
        drawGraph(data["{{suite}}"]["{{section}}"]);
      });

      function drawGraph(data) {
        var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 600,
          height: 260,
          renderer: 'stack',
          series: [
            {
              color: "#c05020",
              data: data["errors"],
              name: "Errors"
            },
            {
              color: "#ffcc66",
              data: data["warnings"],
              name: "Warnings"
            },
            {
              color: "#6060c0",
              data: data["infos"],
              name: "Infos"
            },
            {
              color: "#30a420",
              data: data["metadata"],
              name: "Valid data"
            }
          ]
        } );

        var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
        var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
        } );

        graph.render();

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph
        } );

        var legend = new Rickshaw.Graph.Legend( {
          graph: graph,
          element: document.getElementById('legend')
        } );

        var chartContainer = document.getElementById("chart_container");
        var resize = function () {
          graph.configure({
            width: chartContainer.clientWidth - 38
          });
          graph.render();
        }
        window.addEventListener('resize', resize);
        resize();

      }
    </script>

{{/partial}}

{{#partial}}{ float_right }
<small>Last updated on: {{time}}</small>
{{/partial}}

{{> base}}
